<div id="footer" class="col-md-12">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 text-center">
          <h4 class="title">Connect</h4>
          <%= link_to(about_path) do %>
            <h4 class="title">About</h4>
          <% end %>
            <%= link_to(spree.contact_us_path) do %>
              <h4 class="title">Contact</h4>
            <% end %>
        </div>
        <div class="col-sm-4 text-center">
          <ul class="social-icon">
            <a href="#" class="social">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#" class="social">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#" class="social">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </ul>
        </div>
        <div class="col-sm-offset-4 col-sm-4 text-center">
          <ul class="payment">
            <a href="#">
              <i class="fa fa-cc-amex" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-credit-card" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-paypal" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-cc-visa" aria-hidden="true"></i>
            </a>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row text-center">
        <a style="color: #fff;">Designed by Michael Olie</a>
      </div>
    </div>
  </footer>
</div>
