<div id="about__content">
  <div class="col-md-12" id="about__page__header">
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <h1>About</h1>
    <p>Can you score on your opponent in an ISO 1 on 1 situation? If so what's your go-to move? <em><b>What Yo 1's Look Like!!</b></em></p>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12" id="about__page__body">
  </div>
</div>
