<div id="about__content">
  <div class="col-md-12" id="about__page__header">
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <h1>About</h1>
    <p>MOST HATED PLAYER We're the ones they never saw coming. The ones they couldn't see winning. The ones that always believed: To be hated is to be free. To be hated is to be original. To be hated is to make no apologies for you being you, at your
      greatest.</p>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12" id="about__page__body">
  </div>
</div>
